h1 {
    background-color: darkcyan;
    color: white;
    font-size: 48px;
}

.low {
    background-color: lightgreen;
    width: fit-content;
    padding-left: 0%;
    text-align: left;
    color: black
}

.moderate {
    background-color: yellow;
    width: fit-content;
    text-align: left;
    padding-left: 0%;
    color: black
}

.high {
    background-color:orange;
    width: fit-content;
    text-align: left;
    padding-left: 0%;
    color: black
}

.severe {
    background-color:red;
    width: fit-content;
    text-align: left;
    padding-left: 0%;
    color: white
}